* {
  box-sizing: border-box;
}

.container {
  max-width: 700px;
  width: 100%;
  padding: 0 32px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.display-area {
  width: 100%;
  height: 5rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
  background-color: black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1rem;
}

.operators {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.symbol {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9.2rem;
  height: 4.2rem;
  background-color: #700133;
  border-radius: 0.35rem;
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

.calculation {
  display: flex;
  justify-content: space-between;
}

.flex-75 {
  flex: 0 1 73%;
}

.flex-20 {
  flex: 0 1 20%;
}

.numbers {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.num {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cfcfcf;
  width: 8.5rem;
  height: 4rem;
  margin-bottom: 1rem;
  border-radius: 0.32rem;
  font-size: 2rem;
  font-weight: bold;
}

.clear {
  background-color: #3d1b10;
}

.equal {
  width: 9.5rem;
  background-color: #008080;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.32rem;
  font-size: 2rem;
  font-weight: bold;
}
